<section class="blog-section" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
          <h3 class="text-left"><a href="https://medium.brianemory.com/first-few-days-with-react-4779f97db541" target="_blank">First Few Days with React</a><br /><br /></h3>
          <p class="text-left">Why Learn React? - I started learning React for a few reasons. Number one: coding and learning are fun. It is something I enjoy doing. Days I get to write code are always good days. Number two: React is a popular JavaScript library created by Facebook. Knowing React makes me that much better of a hire. I am already familiar with Angular so why not take things a step... <a href="https://medium.brianemory.com/first-few-days-with-react-4779f97db541" target="_blank"><i class="fa fa-arrow-circle-right"></i> Read More</a></p>
      </div>
      <div class="col-md-4">
          <h3 class="text-left"><a href="https://medium.brianemory.com/im-not-dead-yet-7d98c6c1216d#.5r5fde1t7" target="_blank">I’m Not Dead Yet!</a><br /><br /></h3>
          <p class="text-left">I Feel Haappyyy - I love Monty Python and the Holy Grail. One of my many favorite scenes is this clip: https://www.youtube.com/watch?v=uBxMPqxJGqI. It is the olden days, and a guy is pushing around a cart to collect the dead to get them out of the city. Another guy walks up, old man slung over his shoulder, to put the old man on the cart. Guy: Here’s one... <a href="https://medium.brianemory.com/im-not-dead-yet-7d98c6c1216d#.5r5fde1t7" target="_blank"><i class="fa fa-arrow-circle-right"></i> Read More</a></p>
      </div>
      <div class="col-md-4">
          <h3 class="text-left"><a href="https://medium.brianemory.com/flatcasts-my-final-project-for-flatiron-school-90f17559c3ef" target="_blank">Flatcasts — My Final Project for Flatiron School</a></h3>
          <p class="text-left">Angular on Rails - The final project for Flatiron School was to create an app using an Angular front-end and a Rails back-end. This was everything daunting I thought it would be and everything rewarding about getting it finished. There is also the extra bit of rewarding nature knowing it is something that will be useful for the other students. As is tradition, I took me some time to... <a href="https://medium.brianemory.com/flatcasts-my-final-project-for-flatiron-school-90f17559c3ef" target="_blank"><i class="fa fa-arrow-circle-right"></i> Read More</a></p>
      </div>

    </div><br /><br />
    <div class="col-md-12 text-center">
      <a class="btn btn-default btn-lg" href="https://medium.brianemory.com" target="_blank">See All Posts</a>
    </div>
  </div>
</section>
