<section class="resume-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-offset-1">
        <div class="hr-section">
          <big class="section-header">
            A<small>BOUT</small> M<small>E</small>
          </big>
        </div>
        <div>
          <%= image_tag("me_at_beach.jpg", class: "about-pic img-responsive") %>
        </div>
        <div class="text-left about-text">
          <h3>
            Hi, I'm Brian Emory.
          </h3>
          <p>
            You can find me all over @thebrianemory. I am a web developer currently residing in Los Angeles, CA. I enjoy bad movies, hard cider, and love pizza. I am a bit of a romantic, a goofball, and a gamer. I am taller than 99% of people.</p>

            <p>I studied to be a full-stack web developer at <a href="https://learn.co/with/thebrianemory" class="learn-link">Flatiron School</a> in 2016 meeting my 4-month graduating goal while working full-time. After battling some personal issues, I am ready to take 2017 by storm and embark on a career as a web developer.</p>

            <p>Follow my journey on my blog, and connect with me on Twitter and LinkedIn. I look forward to hearing from you!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
