.intro-section {
    height: 500px;
    padding-top: 150px;
    text-align: center;
    background: linear-gradient(
      rgba(70, 130, 180, 0.85),
      rgba(70, 130, 180, 0.85)
    ), url('ws-mac-glasses2.jpg') no-repeat center;

}

.header-h1 {
  font-weight: bold;
  font-size: 50px;
  color: white;
}
.header-h2 {
  color: white;
}
