<section class="about-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr-section">
                        <h1 class="section-header">
                            ABOUT
                        </h1>
                    </div>
                    <div>
                        <img class="about-pic img-responsive" src="img/me_at_beach.jpg">
                    </div>
                    <div class="text-left about-text">
                        <p>
                          I am a web developer with experience in Ruby on Rails and JavaScript using both jQuery and Angular. I am currently living in Los Angeles, CA. My wife and I moved out here last year from the blistering desert of Las Vegas. I always thought living in southern California would be cool but ultimately it was about keeping the Mrs. happy. Wise man once said, "Happy wife, happy life."</p>

                          <p>My wife can attest to me being both a romantic and a goofball. I love hard ciders. I find great enjoyment in movies that are so bad they are good. I enjoy wasting time and getting lost in a video game. Much to the disappoint of my friends, I once again won our fantasy football league. I am also taller than 99% of people. Yes, I use to play basketball.</p>

                          <p>I embarked on the journey of being a web developer after buying a StackSocial deal for Coder Manual's Web Developer Bootcamp with Rails. I have always had a bit of a fascination with coding but never thought much of making it a career. Back when my family first got a computer in the mid 90s, I learned some basic HTML but CSS seemed too foreign of a concept. I played around with one of the Cs once but that lasted all of five minutes.</p>

                          <p>After doing the self-taught route for a few months, I decided to join a bootcamp. I did lots of research and decided to attend <a href="https://learn.co/with/thebrianemory" class="learn-link">Flatiron School's online campus</a>. I am so glad I chose them. I enjoyed the learning process, the great community, the accessibility of the instructors, and all the other little extras. It was a challenging experience but after a dedicated four months, I have submitted my final project. I learned way more than I did through the various self-taught avenues I had previously pursued.</p>

                          <p>Programming has become a passion and something I love doing. It is not unusual for me to look up at the clock and see I meant to go to bed hours ago. I am happy to have finished Flatiron School and look forward to learning more on the job. I have several web app ideas that I cannot wait to spend the time building.</p>

                          <p>Follow my journey on my blog, connect with me on Twitter and LinkedIn, and feel free to reach out through the below form to get in touch. I look forward to hearing from you!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
