<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-offset-1">
        <div class="hr-section">
          <h4 class="section-header">
            Hi, I'm Brian Emory.
          </h4>
        </div>

        <div class="text-left about-text">
          <div>
            <%= image_tag("me_at_beach.jpg", class: "about-pic img-responsive") %>
          </div>
          <p>
            But you probably already knew that since you went to my website. You can find me all over @thebrianemory. I am a web developer currently residing in Los Angeles, CA with my wife and our three kitties Thor, Tony, and Captain (that's right, she let me name them after Avengers). I enjoy bad movies, hard cider, and love pizza. I am a bit of a romantic, a goofball, and a gamer. I am taller than 99% of people.
          </p>

            <p>
              I studied to be a full-stack web developer at <a href="https://learn.co/with/thebrianemory" class="learn-link">Flatiron School</a> in 2016 meeting my 4-month goal to graduate. It was extra satisfying as I was working full-time while I learned. The main focus was Ruby on Rails but I also learned Sinatra, JavaScript and jQuery, and Angular. I built some cool projects on the way that I am really proud of.
            </p>

            <p>
              I would like to say I have been living the dream with a career as a web developer the past six months. However, personal stuff got in the way and that dream was shelved for a bit. I am now back to coding every day and look forward to a much better 2017.
            </p>

            <p>
              Follow my journey on my blog, check out my current projects on GitHub, and connect with me on Twitter and LinkedIn. I look forward to hearing from you!
            </p>
        </div>
      </div>
    </div>
  </div>
</section>
