<section class="blog-section" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="hr-section">
          <big class="section-header">
              Blog
          </big>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= @posts[0][:title] %>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
