<section class="intro-section" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="text-left header-h1">
          Brian Emory
        </h1>
        <h2 class="text-left header-h2">
          Web Developer
        </h2>
      </div>
    </div>
  </div>
</section>
