<section class="projects-section" id="projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="hr-section">
          <h1 class="section-header">
              PROJECTS
          </h1>
        </div>
          <div class="well">
            <div class="row">
              <!-- Project Template
              <div class="col-md-4">
                <h3>TITLE <a href="GITHUB" target="_blank"><div class="btn btn-xs btn-info gh-btn">GitHub</div></a></h3>
                  <a href="LINK" target="_blank"><img class="img-responsive project-image" src="IMAGE"></a>
                  <p class="text-left">INFO</p>
              </div>
            -->
              <!-- For first row of projects -->
              <div class="col-md-4">
                <h3>Flatcasts <a href="https://github.com/thebrianemory/flatcasts" target="_blank"><div class="btn btn-xs btn-info gh-btn">GitHub</div></a></h3>
                  <a href="LINK" target="_blank"><img class="img-responsive project-image" src="img/port-flatcasts.jpg"></a>
                  <p class="text-left">Flatcasts is my final Project for <a href="http://learn.co/with/thebrianemory">Flatiron School</a>. It is an Angular and Rails app created to be a one-stop shop for all of Flatiron's lectures. You can read about its creation on <a href="https://medium.brianemory.com/flatcasts-my-final-project-for-flatiron-school-90f17559c3ef">my blog</a>.</p>
              </div>
              <div class="col-md-4">
                <h3>Travsto <a href="https://github.com/thebrianemory/travsto" target="_blank"><div class="btn btn-xs btn-info gh-btn">GitHub</div></a></h3>
                  <a href="https://travsto.herokuapp.com" target="_blank"><img class="img-responsive project-image" src="img/port-travsto.jpg"></a>
                  <p class="text-left">Travsto is a Rails app built for my Rails assessment with <a href="http://learn.co/with/thebrianemory
                  ">Learn Verified</a>. It is my first Rails app that was not simply following a tutorial. Travsto is a place for users to easily share their travel stories.</p>
              </div>
              <div class="col-md-4">
                <h3>Corneal <a href="https://github.com/thebrianemory/corneal" target="_blank"><div class="btn btn-xs btn-info gh-btn">GitHub</div></a></h3>
                  <a href="https://github.com/thebrianemory/corneal" target="_blank"><img class="img-responsive project-image" src="img/port-corneal.jpg"></a>
                  <p class="text-left">While building my Sinatra app, I didn't find anything that had the functionality of <code>rails new app-name</code> that I liked. At the suggestion of one of my instructors, I forked Hazel and made my own.</p>
              </div>
            </div>
            <div class="row">
              <!-- For second row of projects -->
              <div class="col-md-4">
                <h3>Cook This Way <a href="https://github.com/thebrianemory/cook-this-way" target="_blank"><div class="btn btn-xs btn-info gh-btn">GitHub</div></a></h3>
                  <a href="https://cook-this-way.herokuapp.com/" target="_blank"><img class="img-responsive project-image" src="img/port-cook-this-way.jpg"></a>
                  <p class="text-left">Cook This Way is a recipe site built on Sinatra. I made it for my <a href="http://learn.co/with/thebrianemory
                  ">Learn Verified</a> Sinatra Assessment. It allows a visitor to view and search recipes, sign in with Facebook, add and edit recipes, and make a recipe their own.</p>
              </div>
              <div class="col-md-4">
                <h3>CLI Data Gem <a href="https://github.com/thebrianemory/nfl-top-stories-cli-gem" target="_blank"><div class="btn btn-xs btn-info gh-btn">GitHub</div></a></h3>
                <a href="https://github.com/thebrianemory/nfl-top-stories-cli-gem"><img class="img-responsive project-image" src="img/port-cli-data-gem.jpg"></a>
                <p class="text-left">I made this gem as part of <a href="http://learn.co/with/thebrianemory
                ">Learn Verified</a>. It was the final project for the Object Oriented Ruby section. It was fun, challenging, clever?? You can read all about the process and challenges I faced on <a href="https://medium.com/the-brian-emory/my-cli-data-gem-for-learn-verified-77a7c456b81a#.tii5uf7dw">my blog</a>.</p>
              </div>
            </div>
        </div>
      </div>
  </div>
</section>
